root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ps1,psm1,psd1,iss}]
charset = utf-8-bom

[*.md]
trim_trailing_whitespace = false

[*.{png,jpg,jpeg,gif,webp,ico,zip,pdf}]
insert_final_newline = false
end_of_line = unset
